<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight">
    <style>
        .image-container img 
        {
            transition: transform 0.3s ease-in-out;
        }

        .image-container:hover img 
        {
            transform: scale(1.05);       
        }
        .image-container:hover .overlay-text 
        {
            opacity: 1;
            transition: transform 0.3s
        }

        .overlay-text 
        {
            opacity: 0;
            transition: 0.3s ease;
        }
    </style>
</head>
<body >
    <!-- navbar section -->
    {% include 'plant/navbar.html' %}

    <div class="container-fluid mt-2 p-3 p-md-4 p-lg-8">
        <!-- heading -->
        <h2 class="mb-2">"Bring Your Plants to Life — One Leaf at a Time."🌿</h2>
        <p>Track, care, and grow with <strong>PlantX</strong> — your digital garden companion.</p>
        <!-- start -->
        <a href="{% url 'explore' %}" class="btn btn-success mt-3">
            Explore Plants 🌱
        </a>
        <p class="text-muted mt-1 small">
            Not sure where to start? Let’s grow together.
        </p>
        <!-- quick options -->
        <h2 class="mb-4 mt-4">Start Caring Smarter</h2>
        <div class="d-flex flex-lg-row flex-column gap-3">
            <a href="{% url 'addplant' %}" class="btn btn-outline-success text-start ">
                ➕ <strong>Add Your First Plant</strong><br>
                <small>Give your green buddy a name and space.</small>
            </a>

            
            <a href="{% url 'myplants' %}" class="btn btn-outline-success text-start">
                📋 <strong>My Plants</strong><br>
                <small>Check progress and track their needs.</small>
            </a>
        <!-- tips -->
        </div>
        <div class="alert alert-success mt-5 text-center">
            <h2>🌱 Leafy Little Lessons</h2>
            <p class="text-muted">Tips to keep your plants happy and thriving</p>
        </div>
        <div class="row">
            {% for x in tips_info %}
            <div class="col-lg-4 col-md-6 col-12 mt-2">
                <div class="card text-white position-relative overflow-hidden mt-2 w-100" style="width: 25rem; cursor: pointer;">
                    <div class="image-container position-relative" data-bs-toggle="modal" data-bs-target="#tipModal{{ forloop.counter }}">
                        <img src="{{x.tip_img.url}}" class="card-img-top img-fluid hover-img" style="max-height: 400px; max-width: 100%;" alt="image">
                        <div class="overlay-text position-absolute top-50 start-50 translate-middle text-white text-center">
                            <h5 class="bg-dark bg-opacity-50 px-2 py-1 rounded">{{ x.tip_name }}</h5>
                        </div>
                    </div>

                    <div class="modal fade" id="tipModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="tipModalLabel{{ forloop.counter }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border border-success">
                                <div class="modal-header bg-success text-white">
                                    <h5 class="modal-title" id="tipModalLabel{{ forloop.counter }}">{{ x.tip_name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-success-subtle">
                                    {{ x.tip_desc }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    
    <!-- footer section -->
    {% include 'plant/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>