<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight">
    <style>
        .main-content 
        {
            padding-top: 90px; 
            margin-left: 270px;
            margin-right: 20px;
        }

        @media (max-width: 765px) 
        {
            .main-content 
            {
                margin-left: 20px;
            }
        }
        </style>
</head>
<body>
    <!-- navbar section -->
    {% include 'plant/navbar.html' %}

    <div class="main-content">
        <h2 class="mb-2">"Bring Your Plants to Life — One Leaf at a Time."🌿</h2>
        <p>Track, care, and grow with PlantX — your digital garden companion.</p>
        <a href="{% url 'explore' %}" class="btn btn-success mt-3">
            Explore Plants 🌱
        </a>
        <p class="text-muted mt-1 small">
            Not sure where to start? Let’s grow together.
        </p>

        <h2 class="mb-4 mt-4">Start Caring Smarter</h2>
        <div class="d-flex flex-column gap-3">
            <a href="{% url 'addplant' %}" class="btn btn-outline-success text-start ">
                ➕ <strong>Add Your First Plant</strong><br>
                <small>Give your green buddy a name and space.</small>
            </a>

            <a href="{% url 'explore' %}" class="btn btn-outline-success text-start">
                🔍 <strong>Explore Plants</strong><br>
                <small>Find care tips tailored to each plant.</small>
            </a>

            <a href="{% url 'myplants' %}" class="btn btn-outline-success text-start">
                📋 <strong>My Plants</strong><br>
                <small>Check progress and track their needs.</small>
            </a>
        </div>
        <div class="alert alert-success mt-5 text-center">
            <h2>🌱 Leafy Little Lessons</h2>
            <p class="text-muted">Tips to keep your plants happy and thriving</p>
        </div>
        <div class="row">
            {% for x in tips_info %}
            <div class="col-lg-4 col-md-6 col-12 mt-2">
                <div class="card text-white position-relative overflow-hidden mt-2" style="width: 25rem;">
                    <img src="{{x.tip_img.url}}" class="card-img-top img-fluid" style="max-height: 400px; max-width: 100%;" alt="image">
                    <div class="accordion" id="accordion{{ forloop.counter }}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}">
                                {{ x.tip_name }}
                            </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordion{{ forloop.counter }}">
                            <div class="accordion-body">
                                {{ x.tip_desc }}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>