{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myplants Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight">
</head>
<body>
    <!-- navbar section -->
    {% include 'plant/navbar.html' %}
    

    <div class="container mt-2 p-3">
        <div class="alert alert-success text-center">
            <h2>
                {{ plant.nickname|default:"Unnamed Plant" }}
                <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                    <i class="bi bi-pencil"></i>
                </button>
            </h2>   
        </div>

        <div class="row">
            <div class="col-md-6 mt-2">
                {% if plant.custom_image %}
                    <img src="{{ plant.custom_image.url }}" class="img-fluid rounded" alt="{{ plant.nickname }}">
                {% else %}
                    <img src="{% static 'plant/bg4.jpg' %}" class="card-img-top rounded" alt="{{ plant.nickname }}" style="height: 440px; object-fit: cover;">
                {% endif %}
            </div>

            <div class="col-md-6 mt-2">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Type:</strong> {{ plant.plant_type }}</li>
                    <li class="list-group-item"><strong>Sunlight:</strong> {{ plant.sunlight_available }}</li>
                    <li class="list-group-item"><strong>Watering Freq:</strong> {{ plant.watering_frequency }} days</li>
                    <li class="list-group-item">
                        <strong>Last Watered:</strong> {{ plant.last_watered }}
                        <div class="d-flex align-items-center gap-2 mt-2 flex-wrap">
                            <form method="post" action="{% url 'update_last_watered' plant.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success">Today</button>
                            </form>

                            <form method="post" action="{% url 'update_custom_date' plant.id %}" class="d-flex align-items-center gap-2">
                                {% csrf_token %}
                                <input type="date" name="custom_date" class="form-control w-auto" required>
                                <button type="submit" name="action" value="watered" class="btn btn-outline-secondary">
                                    Set Date
                                </button>
                            </form>
                        </div>
                    </li>

                    <li class="list-group-item"><strong>Fertilizing Freq:</strong> {{ plant.fertilizing_frequency }} days</li>

                    <li class="list-group-item">
                        <strong>Last Fertilized:</strong> {{ plant.last_fertilized }}
                        <div class="d-flex align-items-center gap-2 mt-2 flex-wrap">
                            <form method="post" action="{% url 'update_last_fertilized' plant.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success">Today</button>
                            </form>

                            <form method="post" action="{% url 'update_custom_date' plant.id %}" class="d-flex align-items-center gap-2">
                                {% csrf_token %}
                                <input type="date" name="custom_date" class="form-control w-auto" required>
                                <button type="submit" name="action" value="fertilized" class="btn btn-outline-secondary">
                                    Set Date
                                </button>
                            </form>
                        </div>
                    </li>

                    <li class="list-group-item"><strong>Flowering And Fruiting:</strong> {{ plant.is_flowering|yesno:"Yes,No" }}</li>
                    <li class="list-group-item"><strong>Notes:</strong> {{ plant.notes|default:"No notes added yet." }}</li>
                </ul>
                <div class="d-flex justify-content-center flex-wrap gap-2 mt-3">
                    <a href="{% url 'history' userplant_id=plant.id %}" class="btn btn-outline-primary mt-3">
                        View History
                    </a>
                    <a href="{% url 'notifications' %}" class="btn btn-outline-primary mt-3">
                        Suggestions
                    </a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Plant</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" action="{% url 'editplant' plant.id %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-2">
                                <label>Nickname</label>
                                <input type="text" name="nickname" class="form-control" value="{{ plant.nickname }}">
                            </div>
                            <div class="mb-2">
                                <label>Watering Frequency e.g., every 3 days</label>
                                <input type="number" name="watering_frequency" class="form-control" value="{{ plant.watering_frequency }}">
                            </div>
                            <div class="mb-2">
                                <label>Fertilizing Frequency e.g., every 3 days</label>
                                <input type="number" name="fertilizing_frequency" class="form-control" value="{{ plant.fertilizing_frequency }}">
                            </div>
                            <div class="mb-2">
                                <label>Notes</label>
                                <textarea name="notes" class="form-control">{{ plant.notes }}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <a href="{% url 'myplants' %}" class="btn btn-success mt-3">
            <i class="bi bi-arrow-left-circle"></i> Back to My Plants
        </a>

    </div>
    {% include 'plant/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>